


$color-white: #FFFFFF;
$color-black: #000000;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');


/*mixing used for creating a card */
@mixin card {
	display: flex;
	flex-direction: row;
	width: 115.5rem;
	height: 8rem;
	justify-content: space-between;
	align-items: center;
	padding: 1%;
	margin: 2% 0%;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0rem .3rem .6rem #00000029;
	border: .1rem solid #F4F4F4;
	border-radius: rem rem .4rem .4rem;

}

html {
	font-size: 10px; /* This specifies the root size for browsers mentioned in pixels, used to make rem calculations*/
	width: 100%;
}

.container {
	background-image: url('../../assets/Mask Group 1.png');
	background-position: right;
	background-repeat: no-repeat;
	background-size: initial;
	background-position-y: unset;
	background-color: $color-black;
	display:flex;
	border: 0;
	border-radius: 0.5rem;
	height: 11.1rem;

	.page_title {
		text-align: left;
		font: normal normal 600 2rem/2.4rem Montserrat;
		color: $color-white;
		max-width: 28rem;
		margin: 1.5% 0% 2.5% 2%;
	}
}

h3{
	padding: 4rem 0rem 0rem 1rem;
	font-size: 2rem;
	padding: 4rem 0rem 3rem 1.5rem;
	color: #0F1317;
}

h4{
	padding-top: 2rem;
	font-size: 2.0rem;
	padding-left: rem;
	color: #0F1317;
	font: normal normal 600 1.8rem/2.2rem Montserrat;
	color: #4E4E4E;
}

.show-cart {
	display: flex;
	flex-direction: row;
	align-items: flex-start;

	.cart-wrapper{
		margin-top: -0.8%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
	}
	.wrap {
			display: flex;
			flex-direction: column;
			padding: 0 0rem;
			background: #FFFFFF 0% 0% no-repeat padding-box;
			border: 0.1rem solid #E0E0E0;
			padding-left: 1.3rem;
			width: 119.2rem;
	}
}

.cart-total {
	@include card;
	align-items: flex-start;
	flex-direction: column;
	justify-content: space-evenly;
	height: 20.6rem;
	width: 27%;
	margin-top: 1rem;
	.cart-details {
		p {
			text-align: left;
			font-size: 1.8rem;
			font-weight: 600;
			color: #080808;
		}
	}
	.cart-value {
		text-align: left;
		font: normal normal 600 3.0rem/3.7rem Montserrat;
		color: #080808;
		margin-bottom: 6.5rem;
	}
	.checkout {
		display: flex;
		align-self: center;
		.checkout-btn {
			font: normal normal 600 1.6rem/1.9rem Montserrat;
			color: $color-white;
			width: 36rem ;
			height: 5rem;
			background: #FF6738 0% 0% no-repeat padding-box;
			border: none;
			border-radius: 0.4rem;
		}
	}
}