<main *ngIf="course">
	<app-banner [pageTitle]="pageTitle"></app-banner>
	<div class="course" >
        <h3 class="course__title">
          {{course.title}}
        </h3>
        <span class="course__subtitle"
          >{{ course.courseDescription }}</span
        >
        <span class="course__author"> {{course.courseCreator}} </span>
        <div class="course__tags">
          <span class="tag">{{ course.tags[0] }}</span>
          <span class="tag">{{ course.tags[1] }}</span>
        </div>
      </div>
      <div class="course__details">
        <div class="description">
          <h4 class="description__title">Course Details</h4>
          <div class="description__details">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>

        <div class="actions">
          <h3 class="price">Rs {{(course.price - (course.discount * course.price / 100))}}/-</h3>
          <span class="discount">Rs {{course.price}}/-</span>
          <div class="timing">
           
            <!-- !!!  Incomplete  !!! Time should be taken from course instance -->
            <span> 8 hours left for this price</span>
          </div>
          <div class="actions__buttons">
            <button class="actions__buttons--cart" (click)="courseService.addToCart(course)">ADD TO CART</button>
            <button class="actions__buttons--wishlist" (click)="courseService.addToWishlist(course)">
              ADD TO WISHLIST
              
            </button>
          </div>
        </div>
      </div>
      <div class="course-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/UbOeVHG5pP8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      </div>
</main>