<main>
	<app-banner [pageTitle]="pageTitle"></app-banner>

	<!-- ***Profile img section -->
	<section>
		<div class="profile-pic">
			<img src="../../assets/profile1.png" class="user-img">
		</div>

		<!-- ***Form starts*** -->
		<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
			<div class="form-row form-row-1">
				<div class="form-group">
					<label class="form-label" for="dname">Display Name</label>
					<input
						type="text"
						id="dname"
						formControlName="dname"
						placeholder="Display Name"
						class="form-input"
					/>
				</div>
				<div class="form-group">
					<label class="form-label" for="fname">First Name</label>
					<input
						type="text"
						id="fname"
						formControlName="fname"
						placeholder="First Name"
						class="form-input"
					/>
				</div>
				<div class="form-group">
					<label class="form-label" for="lname">Last Name</label>
					<input
						type="text"
						id="lname"
						formControlName="lname"
						placeholder="Last Name"
						class="form-input"
					/>
				</div>
			</div>

			<div class="form-row form-row-2">
				<div class="form-group">
					<label class="form-label">About Yourself</label>
					<textarea
						class="about"
						rows="10"
						cols="20"formControlName="aboutYou"
						placeholder="About Yourself"
					></textarea>
				</div>
			</div>

			<div class="form-row form-row-3">
				<label class="form-label">Your Area of Interest</label>
				<div class="form-control form-control-check" formArrayName="areaInterest" *ngFor="let area of areaInterested.controls">
					<label class="custom-check">
						<input type="checkbox" [attr.checked]="userService.userDetails.areasOfInterest.indexOf(area.value[0].id) > -1 ? true : null"/>
						<span class="checkmark"></span>
						{{ area.value[0].displayValue }}
					</label>
				</div>
			</div>

			<div class="form-row form-row-4">
				<label class="form-label" >Are you a student or Professional</label>
				<div class="form-control form-control-level">
					<label class="custom-radio">
						<input type="radio" value="0" formControlName="profileType"/>
						<span class="radiomark" id="student"></span>
						Student
					</label>
					<label class="custom-radio" >
						<input type="radio" value="1" formControlName="profileType"/>
						<span class="radiomark" id="professional"></span>
						Professional
					</label>
				</div>
			</div>

			<div class="form-row form-row-5" *ngIf="profile.value == 1">
				<div class="experience">
					<hr id="line" />
					<label class="form-label">How much of experience you have?</label>
					<div class="exp-radio">
						<div class="form-control form-control-radio" formArrayName="experienced" *ngFor="let exp of expGet.controls">
							<label class="custom-radio">
								<input type="radio" name="experience" [checked]="userService.userDetails.experience === exp.value[0].id"/>
								<span class="radiomark"></span>
								{{exp.value[0].displayValue}}
							</label>
						</div>
					</div>
				</div>
				<div class="expertise">
					<label class="form-label">What is your expertise</label>
					<div class="exp-radio">
						<div class="form-control form-control-radio" formArrayName="expertise" *ngFor="let exp of expertGet.controls">
							<label class="custom-radio">
								<input type="radio" name="expertise" [checked]="userService.userDetails.expertise === exp.value[0].id" />
								<span class="radiomark"></span>
								{{exp.value[0].displayValue}}
							</label>
						</div>
					</div>
				</div>
				<div class="form-control form-control-role">
					<label class="form-label">Mention your role</label>
					<input
						type="text"
						id="role"
						formControlName="role"
						placeholder="Enter your role"
						class="form-input"
					/>
				</div>
			</div>

			<div class="save"><button class="save-btn" [disabled]="!profileForm.valid">SAVE</button></div>
		</form>
		<!-- ***Form Ends*** -->

		<!-- <button class="save-btn-mobile">SAVE</button> -->
	</section>
</main>
