<div class="backdrop"></div>
	<header class="navbar">
		<div class="hamburger" id="toggle-btn"><img src="/assets/Menu.svg" ></div>
		<div class="logo-all-courses"><a routerLink="/"><img src="/assets/Logo-2.png" alt=""></a></div>
		<div class="navigation">
			<div class="nav-link"><a routerLink="/" (click)="courseService.page = 0">COURSES</a></div>
			<div class="nav-link"><a routerLink="/wishlist" (click)="courseService.page = 1">MY WISHLIST</a></div>
			<div class="nav-icon"><a routerLink="/cart" (click)="courseService.page = 2"><img src="/assets/shopping-cart.svg" alt=""></a></div>
			<div class="nav-icon"><a routerLink="/profile" (click)="courseService.page = 3"><img src="/assets/noun_profile_2068277.svg" alt=""></a></div>
		</div>
	</header>