$color-white: #FFFFFF;
$color-black: #000000;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

/*mixing used for creating a card */
@mixin card {
	display: flex;
	flex-direction: row;
	width: 115.5rem;
	height: 8rem;
	justify-content: space-between;
	align-items: center;
	padding: 1%;
	margin: 2% 0%;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0rem .3rem .6rem #00000029;
	border: .1rem solid #F4F4F4;
	border-radius: rem rem .4rem .4rem;

}


/* This mixin provides course-card structure*/
@mixin course-card {
	.prod-img {
		width: 7.9rem;
		height: 7.0rem;
		background: #F2F2F2 0% 0% no-repeat padding-box;
	}
	.description {
		text-align: left;
		letter-spacing: 0rem;
		color: #080808;
		display: flex;
		flex-direction: column;
		max-width: 33.5rem;
		padding: 0%;
		font: normal normal 600 1.8rem/2.2rem Montserrat;

		.desc-text {
			padding: 0%;
		}


		.reactions {
			display: inline-flex;
			flex-direction: row;
			justify-content: flex-start;

			.pill {
				text-align: center;
				font: normal normal 1.2rem/1.5rem Montserrat;
				letter-spacing: 0rem;
				color: $color-white;
				background: #E25B32 0% 0% no-repeat padding-box;
				background-size: initial;
				border-radius: 0.4rem;
				margin: 4% 3% 2% 0%;
				padding: 0.8% 5.4%;
			}
		}
		
	}

	.author {
		text-align: left;
		font: normal normal 300 1.6rem/1.9rem Montserrat;
		letter-spacing: 0rem;
		min-width: 11.7rem;
		color: #080808;
		padding-top: 1rem;
		
	}

	.star {		
		max-width: 2.6rem;
	}

	.price {
		text-align: center;
		font: normal normal bold 2.0rem/2.4rem Montserrat;
		color: #080808;
	
	}

	.discount {
		text-align: center;
		text-decoration: line-through;
		font: normal normal 600 1.6rem/1.9rem Montserrat;
		letter-spacing: 0rem;
		color: #080808;
		min-width: 6.2rem;
		
	}

	.cart-btn {
		font: normal normal 600 1.6rem/1.9rem Montserrat;
		color: $color-white;
		width: 14.5rem ;
		background: #FF6738 0% 0% no-repeat padding-box;
		padding: 7%;
		border: none;
		border-radius: 0.4rem;
	}
}

*{
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px; /* This specifies the root size for browsers mentioned in pixels, used to make rem calculations*/
	width: 100%;
}

body{
	font-family: 'Montserrat', sans-serif;
	width: 100%;
}

/*	Styling for mobilenav backdrop	*/
.backdrop {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000000;
	opacity: 50%;
	z-index: 50;
	cursor: pointer;
}

/* Code for fixed navbar styling */
.navbar {
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	width: 100%;
	height: 6rem;
	background: #F5F5F5 0% 0% no-repeat padding-box;
	box-shadow: 0rem 0.3rem 0.6rem #00000029;

	.mobile-back-btn{
		display: none;
	}

	.hamburger{
		display: none;
	}

	.mobile-nav {
		display: none;
	}

	.logo {
		align-self: center;
		margin: 0% 7%;
		padding: 1rem;
		
	}
	.logo-all-courses {
		margin: 0% 2%;
		padding: 1rem;
		#toggle-btn {
			display: none;
		}
	}
	.navigation{
		display: flex;
		margin-right: 1%;
		justify-content: space-evenly;
		align-items: center;
		.nav-link {
			text-align: left;
			font: normal normal normal 1.6rem/1.9rem Montserrat;
			color: #080808;
			width: 11.25rem;

			&:nth-child(2) {
				padding-right: 4rem;
			}

			a {
				&:visited,
				&:link {
					font-weight: bold;
					text-decoration: none;
					color: #080808;
				}	
			}
		}
		.nav-icon {
			padding-left: 3rem;
			padding: 0 1.5rem;
		}
	}
}


.mobilenav {
	display: none;
	flex-direction: column;
	position: fixed;
	z-index: 101;
	top: 0;
	left: 0;
	background-color: #fff;
	width: 45%;
	height: 100vh;
	font-size: 2rem;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 1.5rem 0 1.5rem 3.5rem;
	animation: slide-in 0.5s ease-in;
	opacity: 100%;
}
  
.mobilenav-open {
	display: flex;
}

.mobilenav img {
	width: 3rem;
	height: 3rem;
	margin-right: 2rem;
}

.mobilenav-close {
	display: flex;
	align-items: center;
}

.mobilenav-close span {
	font-size: 1.8rem;
	opacity: 50%;
}

.mobilenav-list {
	margin-top: 4rem;
}

.mobilenav-item {
	list-style: none;
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
}

.mobilenav-item a:link,
.mobilenav-item a:visited {
	text-decoration: none;
	text-transform: none;
	color: #000000;
	font-size: 1.5rem;
	font-weight: 600;
}
.navbar .navigation {
	display: flex;
	margin-right: 1%;
	justify-content: space-evenly;
	align-items: center;
}


/* setting margin for main block containing all the sections */
main {
	margin: 0% 7%;
	padding-top: 8rem;
}


/* This styles react background image and page title */
.container {
	background-image: url('../assets/Mask Group 1.png');
	background-position: right;
	background-repeat: no-repeat;
	background-size: initial;
	background-position-y: unset;
	background-color: $color-black;
	display:flex;
	border: 0;
	border-radius: 0.5rem;
	height: 11.1rem;

	.page_title {
		text-align: left;
		font: normal normal 600 2rem/2.4rem Montserrat;
		color: $color-white;
		max-width: 28rem;
		margin: 1.5% 0% 2.5% 2%;
	}
}

h2{

	font-size: 2.0rem;
	padding-left: 1.5rem;
	color: #0F1317;
}

/*Course navigation inlcudes All Course Heading, Sort Button and search bar */
.course-nav {
	display: flex;
	justify-content: space-between;
	padding: 3rem 0rem 0rem 0rem;
	align-items: center;



	.search-and-sort {
		display: flex;
		justify-content: space-between;
		img {
			padding-right: 2rem;
		}
		.search {
			display: flex;
			align-items: center;
			.search-bar {
				background: #EFF2FF 0% 0% no-repeat padding-box;
				max-width: 37.8rem;
				width: 39.8rem;
				height: 4.0rem;
				border: none;
				padding-left: 1rem;
				
				&:focus {
					outline: none!important;
				}
			}

			button {
				background: #FF6738 0% 0% no-repeat padding-box;
				border: none;
				width: 5.2rem;
				height: 4rem;
			}
		}
	}

}

/*styles for course-list card on all course page*/
.course-wrapper {

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	.course-list{
			display: flex;
			flex-direction: column;
			width: 100%;
		.card {
			@include card;
			.about {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				width: 58rem;
				
				.prod-img {
					width: 7.9rem;
					height: 7.0rem;
					background-image: url('../assets/course.jpg');
					background-repeat: no-repeat;
					// background: #F2F2F2 0% 0% no-repeat padding-box;
				}
				.description {
					text-align: left;
					letter-spacing: 0rem;
					color: #080808;
					display: flex;
					flex-direction: column;
					max-width: 33.5rem;
					padding: 0%;
					font: normal normal 600 1.8rem/2.2rem Montserrat;

					.p{
						padding: 0%;
					}

					.reactions {
						display: inline-flex;
						flex-direction: row;
						justify-content: flex-start;

						.pill {
							text-align: center;
							font: normal normal 1.2rem/1.5rem Montserrat;
							letter-spacing: 0rem;
							color: $color-white;
							background: #E25B32 0% 0% no-repeat padding-box;
							background-size: initial;
							border-radius: 0.4rem;
							margin: 4% 3% 2% 0%;
							padding: 0.8% 5.4%;
						}
					}
					
				}

				.author {
					text-align: left;
					font: normal normal 300 1.6rem/1.9rem Montserrat;
					letter-spacing: 0rem;
					min-width: 11.7rem;
					color: #080808;
					padding-top: 1rem;
					p {
						display: none;
					}
					
				}
				.reactions-mobile {
					display: none;
				}
			}
			.action {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				width: 44rem;
				padding: 0rem 3rem;
				.star {		
					max-width: 2.6rem;
				}
				.mobile-price {
					display: flex;
					justify-content: space-around;
					align-items: center;
					flex-direction: row;
					width: 100%;
					.price {
						text-align: center;
						font: normal normal bold 2.0rem/2.4rem Montserrat;
						color: #080808;
					
					}

					.discount {
						text-align: center;
						text-decoration: line-through;
						font: normal normal 600 1.6rem/1.9rem Montserrat;
						letter-spacing: 0rem;
						color: #080808;
						min-width: 6.2rem;
						
					}
				}
				.cart-btn {
					font: normal normal 600 1.6rem/1.9rem Montserrat;
					color: $color-white;
					width: 14.5rem ;
					background: #FF6738 0% 0% no-repeat padding-box;
					padding: 7%;
					border: none;
					border-radius: 0.4rem;
				}
				.exp {
					padding-left: 2rem;
					width: .6rem;
					height: 1.2rem;
				}
			}

		}
	}
	/*Styles for side-cart on all course page	!!!Incomplete!!!	*/

	.cart {
		display: flex;
		flex-direction: column;
		background: #FFFFFF 0% 0% no-repeat padding-box;
		box-shadow: 0rem 0.3rem 0.6rem #00000029;
		width: 36.2%;
		height: 100%;
		margin: 1.45% 0%;
		border: 0.1rem solid #F4F4F4;
		border-radius: 0rem 0rem 0.4rem 0.4rem;
	
		hr{
			align-self: center;
			border: 0.1rem solid #E0E0E0;
			width: 95%;
		}

		.your-cart-details {
			display: flex;
			flex-direction: column;
			p {
				padding: 5% 0% 5% 0%;
				text-align: center;
				font: normal normal 600 1.8rem/2.2rem Montserrat;
				color: #080808;
			}
		}
		.cart-main {
			display: flex;
			flex-direction: column;
			width: 100%;
			align-content: space-between;
			margin: 5% 0%;
			.cart-list {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 80%;
				margin: 0% 4%;
				.cart-item {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					.item-img {
						width: 20rem;
						height: 7.0rem;
						background: #F2F2F2 0% 0% no-repeat padding-box;
					}
					.item-description {
						p {
							text-align: left;
							padding-left: 2rem;
							font-size: 1.8rem;
							font-weight: 600;
							color: #080808;
						}
						
					}
				}
				.item-price {
					align-self: flex-end;
					font: normal normal bold 2.0rem/2.4rem Montserrat;
					color: #080808;
					padding: 5% 0%;
				}
			}

			.summary{
				display: flex;
				flex-direction: column;
				margin: 100% 0% -3% 0%;
				.checkout {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					.cart-value	{
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						text-align: center;
						padding: 0% 0% 0% 5%;
						font: normal normal bold 1.6rem/1.9rem Montserrat;
	
						color: #080808;
						p {
							margin: 8% 0% 0% 0%;
							font: normal normal bold 2.8rem/2.4rem Montserrat;
							color: #080808;
						}
					}
					.go-cart-btn {
						display: flex;
						color: #FF6738;
						font: normal normal 600 1.6rem/1.9rem Montserrat;
		
						background: $color-white 0% 0% no-repeat padding-box;
						padding: 7%;
						border: none;
						border-radius: 0.4rem;
					}
				}
			}
		}
	}
}




/*	---Styling for All Courses Page Ends---	*/

h3{
	padding: 4rem 0rem 0rem 1rem;
	font-size: 2rem;
	padding: 4rem 0rem 3rem 1.5rem;
	color: #0F1317;
}

h4{
	padding-top: 2rem;
	font-size: 2.0rem;
	padding-left: rem;
	color: #0F1317;
	font: normal normal 600 1.8rem/2.2rem Montserrat;
	color: #4E4E4E;
}


/*	---Styling for Cart Page begins---	*/
.show-cart {
	display: flex;
	flex-direction: row;
	align-items: flex-start;

	.cart-wrapper{
		margin-top: -0.8%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;

		.in-cart-list{
			display: flex;
			flex-direction: column;
			width: 100%;
		
			.item-card {
				@include card;
				margin: 1% 0%;
				.about {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					width: 45rem;
					.prod-img {
						width: 7.9rem;
						height: 7.0rem;
						background-image: url('../assets/course.jpg');
						background-repeat: no-repeat;
						// background: #F2F2F2 0% 0% no-repeat padding-box;
		
					}
					.description {
						text-align: left;
						color: #080808;
						display: flex;
						flex-direction: column;
						max-width: 33.5rem;
						padding: 0%;
						font: normal normal 600 1.8rem/2.2rem Montserrat;
			
						.desc-text {
							padding: 0%;
						}
						.author {
							text-align: left;
							font: normal normal 300 1.6rem/1.9rem Montserrat;
							min-width: 11.7rem;
							color: #080808;
							padding-top: 1rem;
							p {
								display: none;
							}
						}
						.reactions-mobile{
							display:none;
						}
					}
				}
				.action {
					display: flex;
					flex-direction: row;
					justify-content: space-around;
					align-items: center;
					width: 42rem;
					.mobile-price {
						display: flex;
						align-items: center;
						justify-content: space-between;
						.move-to-wishlist{
							font: normal normal 600 1.6rem/1.9rem Montserrat;
							color: #1873CE;;
							width: 17rem ;
							border: none;
							
						}
						.price {
							text-align: center;
							font: normal normal bold 2.0rem/2.4rem Montserrat;
							color: #080808;
							padding-left: 5rem;
						
						}
						.discount {
							visibility:hidden;
						}
					}
					.mobile-trash {
						.remove {
							width: 2.8rem;
							height: 3.1rem;
						}
					}
				}
		
			}
		}

		.recommendation {
			display: flex;
			flex-direction: column;
			padding: 0 0rem;
			background: #FFFFFF 0% 0% no-repeat padding-box;
			border: 0.1rem solid #E0E0E0;
			padding-left: 1.3rem;
			width: 119.2rem;
		
			.rcard {
				@include card;
				@include course-card;

				.about {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					width: 60rem;
					align-items:center;

					.reactions-mobile {
						display: none;
					}
				}
				.action {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items:center;
					width: 38.5rem;
					padding-right: 1rem;
				}
			}
			
		}
	}
	.cart-total {
		@include card;
		align-items: flex-start;
		flex-direction: column;
		justify-content: space-evenly;
		height: 20.6rem;
		margin-top: 1rem;
		.cart-details {
			p {
				text-align: left;
				font-size: 1.8rem;
				font-weight: 600;
				color: #080808;
			}
		}
		.cart-value {
			text-align: left;
			font: normal normal 600 3.0rem/3.7rem Montserrat;
			color: #080808;
			margin-bottom: 6.5rem;
		}
		.checkout {
			display: flex;
			align-self: center;
			.checkout-btn {
				font: normal normal 600 1.6rem/1.9rem Montserrat;
				color: $color-white;
				width: 36rem ;
				height: 5rem;
				background: #FF6738 0% 0% no-repeat padding-box;
				border: none;
				border-radius: 0.4rem;
			}
		}
	}
	.mobile-summary {
		display: none;
	}
}
/*	---Styling for Cart Page ends---	*/
